@model VehicalServiceApplication.ServiceCenter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceCenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceCenterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCenterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppoinmentBookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppoinmentBookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceCenterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
